.card {
    display: flex;
    flex-direction: column;
}

.card .span {
    display: flex;
    flex-direction: column;
}

.card .span > * {
    order: 1; /* ابتدا */
}

.card .span > :last-child {
    order: 2; /* انتها */
}